.brasul__site-navigation_navbar {
    
    display: flex;
    justify-content:center;
    align-items: center;

    padding: 0.5rem 1rem;
    transition: 0.3s;
}

.brasul__site-navigation_navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brasul__site-navigation_navbar-links_logo {
    margin-right: 2rem;
    position: relative;
}

.brasul__site-navigation_navbar-links_logo img {
    width: 350px;
}

.brasul__site-navigation_navbar button {
    width: 174px;
    height: 33px;
    left: 513px;
    top: 42px;

    font-size: 15px;
    line-height: 24px;


}

.brasul__site-navigation_navbar_links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 60px;

}

.brasul__site-navigation_navbar_links-container p {
    color: black;
    font-size: 33px;
    margin-right: 4rem;
    font-family: var(--font-family);

    font-weight: 100;
    
    margin-top: 10px;
    line-height: 25px;
    text-transform: capitalize;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}
.brasul__site-navigation_navbar_links-container a{
    text-decoration: none;
    margin-left: 4rem;
}
.brasul__site-navigation_navbar_links-container a:link{
    color: black;
}.brasul__site-navigation_navbar_links-container a:visited{
    color: black;
}
.brasul__site-navigation_navbar_links-container a:hover{
    color: rgb(110, 88, 54);
}
.brasul__site-navigation_navbar_links-container a:active{
    color: rgb(111, 0, 255);
}
.navbar.fixed{
    padding: 1rem 6rem;
    position: fixed;
    transform: .3s;


}
