/*
.Image-Header{
    max-width: 1000px;
    max-height: 1000px;
    margin-right: 100px;
    vertical-align: middle;
}
*/
* {
	box-sizing: border-box;
}

.brasul__site-header-slidershow {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.brasul__site-header-slidershow_fade {
	display: none;
}

.brasul__site-header {
	display: block;
	justify-content: center;
	align-items: center;


}

.brasul__site-header-orcamento {
	display: flex;
	justify-content: center;
}

.brasul__site-header-button {
	justify-content: center;
	align-items: center;
	display: flex;
	box-shadow: 0px 1px 0px 0px #fff6af;
	border-radius: 6px;
	border: 1px solid #ffaa22;
	cursor: pointer;
	color: #d8d5d5;
	font-family: var(--font-family);
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #a13c02;

	width: 240px;
	height: 60px;

	background: #FF5C00;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;

	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;

}

.brasul__site-header-button:hover {

	background: #e65501;
}

.brasul__site-header-button:active {

	position: relative;
	top: 1px;
}